*{
    margin:0;
    font-family: sans-serif;
}
.df1{
    display: flex;
justify-content: space-between;
margin:30px;

}
.tx {
    display: flex;
    gap: 40px;
    color: gray;
}
.df2{
    display: flex;
    margin: 20px;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}
.but1{
    padding: 15px;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 3px;
}
.section1{
    background-color: black;
    padding: 50px;
    color: white;
}
.podd{
    display: flex;
    gap: 20px;

}
.minid{
    padding: 20px;
    color: gray;
    border: 2px solid gray;

}
.podd2{
    display: flex;
    gap: 50px;
    align-items: center;
justify-content: center;
margin-top: 50px;
}
.section2{
    display: flex;
    margin: 50px;
    justify-content: space-between;
}
.sectdf{
    display: flex;
    gap: 10px;
    margin-left: 50px;
}
.secti{
    border: 2px solid gray;
    padding: 30px;
    margin: 10px;
    width: 250px;
    height: 60px;
}
.sector{
    margin-left: 750px;
    width: 350px;
    margin-top: -275px;
    height: 200px;
}
.section4{
    display: flex;
    margin-top: 100px;
    justify-content: space-evenly;
}
.s4i{
    margin-left: 50px;


}
.s4tx{
    margin-left: 30px;
    margin-top: 50px;
    
}
.section5{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    align-items: baseline;
}
.s5i{
    margin-top: 30px;
     text-align: center; 
    border: 1px solid gray;
    padding: 5px;

}
.section6{
    display: flex;
justify-content: space-around;
}
.but2{
    border: 2px solid black;
    color: black;
    background-color: white;
}
.podsection6{
    display: flex;
    justify-content: center;
    gap:50px;
    align-items: center;
    margin-top: 50px;
}